---
layout: default
title: autre
page.url: /autre
h1: Autre
---

{% assign sorted_recipes = site.recipes | sort: date | reverse %}

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher ..">

<table id="myTable">
  <tr class="header">
    <th>Titre</th>
    <th>Cuisine</th>
    <th>Auteur</th>
  </tr>
  {% for recipe in sorted_recipes %}

    {% if recipe.type == 'autre' %}   

      <tr>
        <td> <a href="{{ recipe.url }}" class="mx-auto">{{ recipe.titre | capitalize }}</a></td>
        <td>{{recipe.cuisine}}</td>
        <td>{{recipe.categories }}</td>
      </tr>
      
    {% endif %}
    
  {% endfor %}
</table> 