---
layout: default
permalink: /cuisine/
title: cuisine
h1: Cuisines
---


{% assign cuisines =  site.recipes | map: 'cuisine' | uniq | sort%}
<div class="accordion-display">
  {% for cuisine in cuisines %}

    <div class="accordion-container">
      <h3 class="accordion">{{ cuisine }}</h3>

      <div class="panel">

        {% for recipe in site.recipes %}

          {% if recipe.cuisine contains cuisine %}

            <p>
              <a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.titre | capitalize }}</a>
            </p>

          {% endif %}

        {% endfor %}

      </div>
    </div>

    
    
  {% endfor %}
</div>


<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      // this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>

