---
layout: default
title: dessert
page.url: /dessert
h1: désserts
---

<section class="card-display">

	{% for recipe in site.recipes %}

    {% if recipe.categories[0] == 'dessert' %}   

      <article class="card-recipe">
        <div class="card-image">
          <a href="{{ recipe.url }}" class="mx-auto">
            <img src="/assets/img/default-image.jpg" class='img-responsive' alt="image {{recipe.title }}">
          </a>        </div>
        <div class="card-title">
          <a href="{{ recipe.url }}" class="mx-auto">{{ recipe.title }}</a>
        </div>
        <div class="card-text">
          <p>préparation : {{ recipe.preptime}} min </p>
          <p>cuisson : {{ recipe.cooktime}} min</p>
        </div>
      </article>
      
    {% endif %}

	{% endfor %}
</section>