---
layout: default
title: home
page.url: /index
h1: recettes
---

<section class="card-display">
	<!-- sort by date to display the most recent recipe first -->
	{% assign sorted_recipes = (site.recipes | sort: date) | reverse %}

	{% for recipe in sorted_recipes %}

		<article class="card-recipe">
			<div class="card-image">
				<a href="{{ recipe.url }}" class="mx-auto">
					{% if recipe.image %}
						<img src="/assets/img/{{recipe.image}}" class='img-responsive' alt="image {{recipe.title }}">
					{% else %}	
						<img src="/assets/img/default-image.jpg" class='img-responsive' alt="image {{recipe.title }}">
					{% endif %}
				  </a>
			</div>
			<div class="card-title">
				<a href="{{ recipe.url }}" class="mx-auto">{{ recipe.title }}</a>
			</div>
			<div class="card-text">
				<p>préparation : {{ recipe.preptime}} min </p>
				<p>cuisson : {{ recipe.cooktime}} min</p>
			</div>
		</article>

	{% endfor %}
</section>