---
layout: default
title: plat
page.url: /plat
h1: Plats
---

{% assign sorted_recipes = site.recipes | sort: date | reverse %}

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher ..">

<table id="myTable">
  <tr class="header">
    <th>Titre</th>
    <th>Cuisine</th>
    <th>Auteur</th>
  </tr>
  {% for recipe in sorted_recipes %}

    {% if recipe.type == 'plat' %}   

      <tr>
        <td> <a href="{{ site.baseurl }}{{ recipe.url }}" class="mx-auto">{{ recipe.titre | capitalize }}</a></td>
        <td>{{recipe.cuisine}}</td>
        <td>{{recipe.categories}}</td>
      </tr>
      
    {% endif %}
    
  {% endfor %}
</table> 