<nav class="main-navigation">
  <ul class="main-navigation__list">
    <li class="main-navigation__list__item">
      <a href="{{ "/" | relative_url }}" 
      class="main-navigation__link {% if page.title == "home" %} active {% endif %}">
      Recettes</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/apero" | relative_url }}" 
      class="main-navigation__link {% if page.title == "apero" %} active {% endif %}">
      Apéro</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/plat" | relative_url }}" 
      class="main-navigation__link {% if page.title == "plat" %} active {% endif %}">
      Plat</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/dessert" | relative_url }}" 
      class="main-navigation__link {% if page.title == "dessert" %} active {% endif %}">
      Dessert</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/cuisine/" | relative_url }}" 
      class="main-navigation__link {% if page.title == "cuisine" %} active {% endif %}">
      cuisine</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/autre" | relative_url }}" 
      class="main-navigation__link {% if page.title == "autre" %} active {% endif %}">
      autre</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/cosmetique" | relative_url }}" 
      class="main-navigation__link {% if page.title == "cosmetique" %} active {% endif %}">
      cosmétique</a>
    </li>
    <li class="main-navigation__list__item">
      <a href="{{ "/search/" | relative_url }}" 
      class="main-navigation__link {% if page.title == "search" %} active {% endif %}">
      <img src="{{ "/assets/img/search.png" | relative_url }}" alt="search icon">    </a>
    </li>
  </ul>

  <button id="burgerBtn">
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
  </button>
</nav>