.caracteristique{
    // display: flex;
    // justify-content: space-around ;
    // flex-wrap: wrap;
    margin-bottom: 1rem;
    color: $secondary-color;
}
.origin{
    margin-top: 1rem;
}

.liste{
    margin:1rem 1rem;
    color: $secondary-color--darker;
}

.etape > li{
    margin-top: 1rem;
    color: $secondary-color--darker;
}

.origin{
    text-align: right;
    color: $secondary-color--darker;
}