// responsive for device > 769px

@media screen and (min-width: 769px){

  main {
    max-width: 80%;
    margin: auto;
  }

  h1{
    font-size: 3rem;
  }
  //                navbar
  nav{
    .main-navigation__list {
      flex-direction: row;
      justify-content: space-between;
      
      width: 95%;
    }

    .main-navigation__list__item{
      display: block;
    }
    
    .main-navigation__list__item:not(:first-of-type) {
      margin-top: inherit;
    }
    
    .portfolio:nth-child(even) {
      flex-direction: row;
    }
    
    .portfolio:nth-child(odd) {
      flex-direction: row-reverse;
    }
    
    .portfolio__image-container img {
      margin-top: 0;
    }
  
    // burger menu
    button{
      display: none;
    }
  }
  //                  accordion auteur
  .accordion-display{
    flex-direction: row;
  }

  //                  recette page

  .caracteristique{
    margin-bottom: 1rem;
    color: $secondary-color;
    text-align: center;
}


  //                  list on 2 columns
  .liste {
    columns: 2;
   
    li{
      margin-left: 5rem;
    }
  }
 
  .etape{
      margin-left: 3rem;

  }
}
    