// responsive for device > 769px

@media screen and (min-width: 769px){

  h1{
    font-size: 4rem;
  }
  //                navbar
  nav{
    .main-navigation__list {
      flex-direction: row;
      justify-content: space-between;
      
      width: 75%;
    }

    .main-navigation__list__item{
      display: block;
    }
    
    .main-navigation__list__item:not(:first-of-type) {
      margin-top: inherit;
    }
    
    .portfolio:nth-child(even) {
      flex-direction: row;
    }
    
    .portfolio:nth-child(odd) {
      flex-direction: row-reverse;
    }
    
    .portfolio__image-container img {
      margin-top: 0;
    }
    
    .container--about {
      padding-left: 15%;
      padding-right: 15%;
    }

  
    // burger menu
    button{
      display: none;
    }
  }
  //                  accordion auteur
  .accordion-display{
    flex-direction: row;
  }

  //                  recette page

  //                  list on 2 columns
  .liste {
    columns: 2;
  }

  .etape{
    
  }
}
    